@font-face {
    font-family: "iconfont";
    /* Project id 4629624 */
    src: url('//at.alicdn.com/t/c/font_4629624_2j580nu90nn.woff2?t=1721721428396') format('woff2'),
        url('//at.alicdn.com/t/c/font_4629624_2j580nu90nn.woff?t=1721721428396') format('woff'),
        url('//at.alicdn.com/t/c/font_4629624_2j580nu90nn.ttf?t=1721721428396') format('truetype'),
        url('//at.alicdn.com/t/c/font_4629624_2j580nu90nn.svg?t=1721721428396#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.icon-fenxiang:before {
    content: "\e680";
}

.icon-daojishi:before {
    content: "\e89a";
}

.icon-down:before {
    content: "\e65e";
}

.icon-shuaxin:before {
    content: "\ec08";
}

.icon-duoyuyan:before {
    content: "\e654";
}

.icon-qianbao:before {
    content: "\e829";
}